body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav {
  padding: 20px;
  border: 1px solid rgb(92, 0, 128);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

 /* boxButtonStyle {
  display: inline-block;
  width: 150px;
  padding: 12px;
  margin: 0 6px 6px;
  background: blue;
  textDecoration: none;
  color: white;
 }; */


 .project-title{
  flex-grow: 1;
}


section {
  margin: 2em 0;
  padding: 1em 2em;
  border: solid 10px rgb(223, 208, 2);
  border-radius: 12px;
  min-width: 200px;
}

input {
  padding: 5em;
  border: solid 10px rgb(76, 5, 209);
}

textarea {
  min-height: 8em;
  min-width: 100%;
  padding: 1em;
  border: solid 20px rgb(1, 66, 12);
  margin-bottom: 2px;
}

























/* cards not currently used */
/* .cards {
  margin: 0 auto;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.card {
  max-width: 400px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  border: 2px solid var(--dark-turquoise);
}

@media screen and (max-width: 588px) {
  .card {
    display: block;
    max-width: inherit;
  }
}

.card .image {
  max-height: 200px;
  overflow: hidden;
  position: relative;
}

.card .image img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}

.card .image .claps {
  color: transparent;
  text-shadow: 0 0 0 var(--turquoise);
  position: absolute;
  top: 10px;
  right: 10px;
}

.card .image .claps:focus,
.card .image .claps:hover {
  color: transparent;
  text-shadow: 0 0 0 var(--color);
}

.card .details {
  margin: 0.5rem;
}

.card .details h4 {
  margin: 0.5rem 0;
}

.card .details p {
  margin: 0.5rem 0;
}

.card .extra {
  margin-top: auto;
}  */